/* Add CSS styling here */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */

caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

/* general styles */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 2.8rem;
    margin: 1%;
}

h3 {
    font-size: 2.8rem;
    margin: 1%;
}

a {
    text-decoration: none;
}

/* Header styles */
header {
    background-color: lightgrey;
    border-bottom: 3px solid black;
    margin-bottom: .8%;
}
nav {
    margin-left: 2%;
    margin-bottom: .8%;
}

#bghome {
    background-color: black;
    color:#fff;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    padding: .3%;
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

/* top section styles */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 60%;
    text-align: left;
    padding: 4%;
}
.right button {
    font-size: 1.8rem;
    margin: 1%;
    padding: 1%;
    border: 1px solid black;
}
.right a {
    color: black;
}

.right p {
    font-size: 2.2rem;
    margin: 1%;
}

.left {
    width: 40%;
}
.left img {
    max-width: 100%;
}

/* middle content styles */
.rowone p {
    font-size: 2.6rem;
}
.rowone {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.rowone img {
    max-width: 100%;
    height: 30vh;
}
.rowtwo {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.rowtwo img {
    max-width: 100%;
    height: 30vh;
}

/* footer section styles */
footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}

footer button {
    font-size: 2rem;
    padding: .5%;
    background-color: #fff;
    border: 1px solid black;
}

/* media queries style */
@media (max-width: 800px){
    header {
        text-align: center;
    }
    .rowone p {
        font-size: 1.8rem;
    }
    .rowone img {
        max-width: 100%;
        height: 10vh;
    }
    .rowtwo img {
        max-width: 100%;
        height: 10vh;
    }
    .right {
        text-align: center;
    }
    h3 {
        font-size: 2rem;
    }

    footer button {
        font-size: 1.5rem;
    }
    
/* media queries 500px styles */
@media (max-width: 500px){
    .top {
        flex-direction: column-reverse;
    }
    .right {
        width: 90%;
}
.right p {
    font-size: 1.8rem;
}
.rowone {
    max-width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 1%;
    text-align: center;
}
.rowtwo {
    flex-direction: column;
} 
}